.container-fluid
  .row
    .col-sm-12
      = image_tag @photo.preview
      .text-cetner
        %h4= @photo.title

= link_to 'Edit', edit_admin_photo_path(@photo)
\|
= link_to 'Back', admin_photos_path
