= image_tag photo.featured_image, class: 'full-photo center'
.container-fluid
  .row
    .col-sm-6
    .col-sm-6
      .tiny-overlay
        = render 'photo_count', photo: photo
        = link_to 'rotate', fetch_photo_path(rotate: true), remote: true, class: 'static-popup-link'