#index-wrapper
  = render 'collection', photos: @photos, cart_only: @cart_only

#modal-container
  #myModal.modal.full-screen-image-container{"data-backdrop" => "static", "data-keyboard" => "false", :role => "dialog", :tabindex => "-1"}
