@import 'palette';
@import 'variables';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  position: relative;
  min-height: 100%;
  background-color: black;
  color: white;
  padding-bottom: 100px;
}

a:hover, a:focus {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:focus {
  text-decoration: none;
  color: white;
}

img {
  max-height: 100%;
  max-width: 100%;
}

fieldset {
  border-top: 1px solid #ccc;
  margin: 20px 0px 0px;
  padding: 20px 0px 0px 20px;
  background-color: $color_white;
  cursor: -webkit-grab;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: middle;
  border-top: 1px solid #ddd;
}

.alert {
  margin-bottom: 0px;
  border-radius: 0;
}

.display-none {
  display: none;
}

.container-sm {
  max-width: 400px;
}

.container-md {
  max-width: 600px;
}

.container-lg {
  max-width: 800px;
}

.box {
  background-color: $color_white;
  padding: $box_pad;
  margin-bottom: 20px;
  h1 {
    margin-top: 0;
  }
}

.pad-section {
  padding: 20px 0px;
}

.profile-thumb-wrapper {
  img {
    border-radius: 100%;
  }
}

.text-code {
  color: #7D2727;
  background: #eff0f1;
  padding: 5px;
  overflow: auto;
  font-weight: bold;
}

.vcenter {
  display:flex;
  align-items:center;
}

.pad-top {
  padding-top: 20px;
}

.pad-top-lg {
  padding-top: 25px;
}

.full-height {
  height: 100vh;
}

.full-width {
  min-width: 100vw;
  padding: 0px;
  margin: 0;
}

.no-pad {
  padding: 0px;
}

.background-dark {
  padding-top: 20px;
  margin-top: -20px;
  border-right: solid 1px $color_border_dark;
  background-color: #f7f7f7;
}

.image-preview {
  max-height: 250px;
}

.side-bar-image {
  height: 100%;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}

.preview-container {
  height: 250px;
}

.image-container{
  width:100%;
}

.masonry {
  margin: 1.5em 0;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
}

.item {
  display: inline-block;
  background: #fff;
  margin: 0 0 1.5em;
  height: 100%;
}

@media only screen and (min-width: 400px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

@media only screen and (min-width: 1280px) {
    .wrapper {
        width: 1260px;
    }
}

.full-screen-image {
  position: relative;
  left: 0;
  right: 0;
  max-height: 90vh;
  max-width: 60vw;
  margin: 0 auto;
}

img.center {
    display: block;
    margin: 0 auto;
}

#draggable {
  position: fixed;
  top: 100px;
  right: 50px;
}

#control-overlay {
  background:rgba(255,255,255,0.9);
  color: black;
  max-width: 400px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
  border-radius: 8px;
  margin-left: 40px;
  height: 200px;
  &.active {
    visibility: visible;
  }
}

.overlay-input {
  .form-group {
    .form-control {
      height: 20px;
    }
  }
}

.table-responsive {
  padding: 15px;
  width: 100%;
}

tr {
  padding-top: 5px;
  padding-bottom: 5px;
}

.plus-icon {
  height: 40px;
  width: 40px;
  background-image: url(plus.png);
  background-size: contain;
  z-index: 9999999;
}

.fixed-column {
  color: white;
  position: fixed;
  width: 300px;
  overflow: hidden;
  overflow-y: scroll;
  background: black;
  top: 0;
  bottom: 0;
  z-index: 99999;
  left: 0;
}

#left-side-bar {
  background-color: #202020;
  margin-left: -300px;
  visibility: hidden;
  -webkit-transition-duration: 1.5s; /* Safari */
  transition-duration: 1.5s;
  &.active {
    visibility: visible;
    transform: translate(300px,0);
    -webkit-transform: translate(300px,0); /** Chrome & Safari **/
    -o-transform: translate(300px,0); /** Opera **/
    -moz-transform: translate(300px,0); /** Firefox **/
  }
}

#open-left-side-bar {
//  visibility: hidden;
//  &.active {
//    visibility: visible;
//  }
}

#left-side-bar-btn {
  -webkit-transition-duration: 1.5s; /* Safari */
  transition-duration: 1.5s;
  position: fixed;
  left: 0;
  top: 6px;
  z-index: 9999999;
  &.active {
    transform: translate(300px,0);
    -webkit-transform: translate(300px,0); /** Chrome & Safari **/
    -o-transform: translate(300px,0); /** Opera **/
    -moz-transform: translate(300px,0); /** Firefox **/
  }
}

.tiny-overlay {
  color: black;
  font-size: 12px;
  background: rgba(255,255,255,0.9);
  position: fixed;
  top: 85%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 0px;
  border-radius: 10px;
}

.image-holder {
  height: 100vh;
  width: 100vw;
}

#container .wrapper {
  position: relative;
  background-color: black;
}

#container .wrapper > .inner {
  position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}
#container.fluid .item {
    width:  100%; 
    margin: 7px 0.0% 7px 0.0%;
}
#container.fluid .item img
{
  /*display: none;*/
  display: block;
  width: 100%;
  height: auto !important;
  opacity:1;
}

.full-photo {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.no-photos {
  position: fixed;
  top: 33%;
  padding-left: 15px;
  padding-right: 15px;
}

#sign-out-btn-wrapper {
  -webkit-transition-duration: 1.5s; /* Safari */
  transition-duration: 1.5s;
  position: fixed;
  right: 0;
  top: 6px;
  z-index: 9999999;
  &.active {
    transform: translate(-300px,0);
    -webkit-transform: translate(-300px,0); /** Chrome & Safari **/
    -o-transform: translate(-300px,0); /** Opera **/
    -moz-transform: translate(-300px,0); /** Firefox **/
  }
}

#cart-btn-wrapper {
  position: fixed;
  left: 43%;
  right: 43%;
  top: 6px;
  z-index: 99999;
}

#body-wrapper {
}

.open-btn {
  font-size: 20px;
  background-color: #202020;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-right: 10px;
  border-radius: 8px;
  margin-left: -5px;
}

.btn-profile {
  margin-left: 40px;
  padding-right: 20px;
  font-size: 12px;
  background-color: #282828;
  border-radius: 8px 0px 0px 8px;
  z-index: 99999;
}

a:link, a:visited, a:hover, a:focus, a:active {
  &.btn {
    color: white;
  }
}

.splash-page {
  background: url(/assets/background.jpg);
  background-position: center;
  background-size: cover;
  position: fixed;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.splash-text {
  width: 60%;
  color: white !important;
  background: rgba(0,0,0,0.7);
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 16px;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.btn-grey {
  height: 25px;
  color: white;
  font-size: 14px;
  width: 160px;
  background-color: #282828;
  padding: 8px;
  padding-top: 3px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 8px;
}

.top-margin {
  margin-top: 20px;
}

.top-margin-lg {
  margin-top: 30px;
}

.display-none {
  display: none;
}

.display-all {
}

.display-block {
  padding: 10px;
}

.fill-width {
  width: 100%
}

.padding {
  margin-top: 30px;
}

.no-top-margin {
  margin-top: 0px;
}

.no-padding {
  padding: 0px !important;
}

#sign-up {
  padding-top: 0px;
}

.full-screen-image-container {
  -webkit-transition-duration: 1.5s; /* Safari */
  transition-duration: 1.5s;
  &.active {
    transform: translate(150px,0);
    -webkit-transform: translate(150px,0); /** Chrome & Safari **/
    -o-transform: translate(150px,0); /** Opera **/
    -moz-transform: translate(150px,0); /** Firefox **/
  }
}

.black {
  color: black;
}

.spinner {
  display: inline-block;
  position: Relative;
  border: 2px solid grey;
  border-radius: 10px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.spinner:before,
.spinner:after {
  background: white;
  right: 0px;
  width: 30px;
  height: 20%;
  position: absolute;
  pointer-events: none;
}
.spinner:before {
  content: '';
  bottom: 50%;
  background: url(http://cdn.flaticon.com/png/256/22205.png) no-repeat white;
  background-size: 20px;
  background-position: center;
}
.spinner:after {
  content: '';
  top: 50%;
  background: url(http://cdn.flaticon.com/png/256/22205.png) no-repeat white;
  background-size: 20px;
  transform: rotate(180deg);
  background-position: center;
}
input {
  outline: 0;
  border: 0;
}