- if current_user.nil?
  = link_to 'Sign In', new_user_session_path, class: 'btn btn-primary'
- else
  #open-left-side-bar
    #left-side-bar-btn.btn.open-btn
      #arrow.fa.fa-arrow-right
  #left-side-bar.fixed-column
    = render 'layouts/side_bar', my_photos: @my_photos

  #sign-out-btn-wrapper
    = link_to 'Profile', destroy_user_session_path, method: :delete, class: 'btn btn-profile'