.form-group
  = f.input :username, required: true, label: false, placeholder: 'Username', input_html: { class: 'form-control form-control-sm', value: "#{params[:username].present? ? params[:username] : f.object.username }" }, autofocus: true

.form-group
  = f.input :email, required: true, label: false, placeholder: 'Email',  input_html: { class: 'form-control form-control-sm' }
